@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.titre__gris h1 {
  font-family: 'Shrikhand';
}

footer p {
  font-family: 'Shrikhand';
}

p, h1, h2, h3, h4, a {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0px;
}

header h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn__explorer p {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #FF79DA), color-stop(90%, #9356DC));
  background: linear-gradient(#FF79DA 10%, #9356DC 90%);
  border-radius: 30px 30px 30px 30px;
  color: white;
  font-size: 20px;
  margin-top: 15px;
  font-family: Roboto Slab , serif;
  -webkit-box-shadow: 6px 6px 6px #d6d3d3;
          box-shadow: 6px 6px 6px #d6d3d3;
  width: auto;
  padding: 20px;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

.contact a {
  color: white;
  text-decoration: none;
}

.contact li {
  list-style-type: none;
}

.contact ul {
  padding-left: 0px;
}

.contact .fas.fa-hands-helping {
  padding-right: 10px;
}

.contact .fas.fa-utensils {
  padding-right: 17px;
}

footer {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  background-color: black;
  color: white;
}

.explorer {
  background-color: #F2F2F2;
  height: 400px;
}

.explorer p {
  margin: 0px;
}

.fonctionnement {
  padding-bottom: 40px;
}

.fonctionnement .fonctionnement h3 {
  margin-left: 30px;
  font-size: 23px;
  margin-top: 40px;
}

.heart {
  background-color: #ffffff;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 25px;
}

.heart .fas {
  position: relative;
  color: #ffffff;
  opacity: 0;
}

.heart .far {
  position: absolute;
}

.heart:hover, .heart:focus {
  outline: none;
}

.heart:hover .fas, .heart:focus .fas {
  opacity: 1;
  background: -webkit-gradient(linear, right top, left bottom, from(#9356DC), to(#FF79DA));
  background: linear-gradient(to bottom left, #9356DC, #FF79DA);
  -webkit-text-fill-color: transparent;
  -webkit-transition: 1s;
  transition: 1s;
  overflow: hidden;
}

.heart:hover .far, .heart:focus .far {
  opacity: 0;
}

@-webkit-keyframes essai {
  0% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes essai {
  0% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.animation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.animation h2 {
  background-color: #99E2D0;
  height: auto;
}

.logo img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 105px;
}

.centrer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.titre__explorer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e6e6e6;
  width: 100%;
  -webkit-box-shadow: inset 0px 3px #d3d0d0;
          box-shadow: inset 0px 3px #d3d0d0;
}

.titre__explorer .fas {
  padding-right: 20px;
}

.firstparagraphe__explorer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 35px;
  padding-bottom: 10px;
  font-size: 28px;
  font-weight: bold;
}

.scdparagraphe__explorer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 20px;
  font-size: 20px;
}

.chiffre__choix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-style: solid;
  border-color: #9356DC;
  background-color: #9356DC;
  border-radius: 50%;
  color: white;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 20px;
  right: 310px;
}

.choix__fonctionnement {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__choix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F2F2F2;
  border-radius: 20px 20px 20px 20px;
  -webkit-box-shadow: 5px 5px 5px 2px #ece9e9;
          box-shadow: 5px 5px 5px 2px #ece9e9;
  padding: 8px;
  margin-bottom: 15px;
  width: 80%;
}

.menu__choix .fas {
  padding-right: 20px;
  color: #9356DC;
}

.restaurant {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #F2F2F2;
}

.restaurant h3 {
  margin-left: 30px;
  margin-bottom: 0px;
  font-size: 23px;
}

.card__box {
  width: 90%;
  height: 260px;
  background-color: white;
  border-radius: 20px;
  padding-bottom: 20px;
  -webkit-box-shadow: 6px 6px 6px #e0dede;
          box-shadow: 6px 6px 6px #e0dede;
  margin-top: 20px;
}

.palette {
  background-image: url("restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}

.note {
  background-image: url("restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
}

.francaise {
  background-image: url("restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}

.delice {
  background-image: url("restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}

.image {
  width: 100%;
  height: 180px;
  background-size: cover;
  background-position: center;
  border-radius: 20px 20px 0px 0px;
}

.groupecard__restaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.groupeinfo__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info__card {
  margin-top: 15px;
  margin-left: 10px;
  padding-bottom: 20px;
}

.info__card p, .info__card h4 {
  margin: 0px;
  font-size: 20px;
}

.nouveau__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #99E2D0;
  border-style: solid;
  border-color: #99E2D0;
  width: 120px;
  font-size: 20px;
  border-radius: 5px;
  position: absolute;
  left: 200px;
  top: 30px;
}

.nouveau__box p {
  margin-top: 6px;
  margin-bottom: 6px;
}

.box__groupecard {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.far .fa-heart:focus {
  color: red;
}

.imager img {
  width: 100%;
  height: 200px;
}

.gris {
  position: relative;
  background-color: #F2F2F2;
  left: auto;
  width: 100%;
  bottom: 40px;
  border-radius: 50px 50px 0px 0px;
}

.titre__gris {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 15px;
  margin-right: 35px;
}

.titre__gris h1 {
  font-family: 'Shrikhand';
}

.entrée__entrées {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.entrées h1 {
  margin-left: 15px;
  font-size: 25px;
  padding-bottom: 10px;
  border-bottom: 3px solid #99E2D0;
  width: 65px;
  -webkit-animation: essai 3s;
          animation: essai 3s;
}

.recette__entrée {
  -webkit-animation: essai 3s;
          animation: essai 3s;
  background-color: white;
  border-radius: 20px 20px 20px 20px;
  -webkit-box-shadow: 5px 5px 5px 2px #ece9e9;
          box-shadow: 5px 5px 5px 2px #ece9e9;
  padding: 8px;
  margin-bottom: 20px;
  width: 95%;
}

.recette__entrée p {
  margin: 5px;
  margin-top: 0px;
  font-size: 22px;
}

.recette__entrée h2 {
  margin: 5px;
}

.info__recette {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.commander {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #FF79DA), color-stop(90%, #9356DC));
  background: linear-gradient(#FF79DA 10%, #9356DC 90%);
  border-radius: 30px 30px 30px 30px;
  color: white;
  font-size: 20px;
  margin-top: 15px;
  font-family: Roboto Slab , serif;
  -webkit-box-shadow: 6px 6px 6px #d6d3d3;
          box-shadow: 6px 6px 6px #d6d3d3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  margin-left: 90px;
}
/*# sourceMappingURL=style.css.map */