@import "./utils/variables";
@import "./utils/mixins";
@import "./base/bases";
@import "./layouts/layout";
@import "./components/bloc";
@import "./pages/acceuil";
@import "./pages/menue";
@import "./pages/menuegrand";
@import "./pages/menuepetit";
@import "./pages/tablette";
@import "./components/bouton";
@import "./components/check";
@import "./components/heart";
@import "./components/plat";
@import "./components/card";
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');