@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
* {
  box-sizing: content-box;
}

h1,
h4 {
  font-family: "Shrikhand", sans-serif;
}

p,
h2,
h3,
a {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0px;
}

.contact {
  display: flex;
  margin-bottom: 10px;
}
.contact a {
  color: white;
  text-decoration: none;
}
.contact li {
  list-style-type: none;
}
.contact ul {
  padding-left: 0px;
}
.contact .fas.fa-hands-helping {
  padding-right: 10px;
}
.contact .fas.fa-utensils {
  padding-right: 17px;
}

footer {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  background-color: black;
  color: white;
}

.explorer {
  background-color: #F2F2F2;
  height: 400px;
}

.fonctionnement {
  padding-bottom: 40px;
}

.center {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title__explorer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6e6e6;
  width: 100%;
  box-shadow: inset 0px 3px #d3d0d0;
}
.title__explorer .fas {
  padding-right: 20px;
}

.paragraphe__explorer {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 30px;
}
.paragraphe__explorer p {
  margin: 0px 20px 10px;
  font-size: 20px;
}
.paragraphe__explorer h2 {
  margin: 0px 20px 10px;
  font-size: 25px;
}

.chiffre__choix {
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-color: #9356DC;
  background-color: #9356DC;
  border-radius: 50%;
  color: white;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 20px;
  left: -15px;
}

.choice__menu {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: #F2F2F2;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 5px 5px 5px 2px #ece9e9;
  padding: 8px;
  margin-bottom: 15px;
}

.menu__choix {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__choix .fas {
  padding-right: 20px;
  color: #9356DC;
}

.restaurant {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #F2F2F2;
}

header {
  position: relative;
}
header h1 {
  font-size: 30px;
  display: flex;
  justify-content: center;
}
header .fas {
  position: absolute;
  top: 15px;
  left: 50px;
}

.principal {
  position: relative;
  padding-top: 270px;
}

.gris {
  position: relative;
  background-color: #F2F2F2;
  left: auto;
  width: 100%;
  padding-bottom: 40px;
  border-radius: 50px 50px 0px 0px;
}

.titre__gris {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 15px;
  margin-right: 35px;
}
.titre__gris h1 {
  font-family: "Shrikhand";
}

.menu2 {
  margin-bottom: 45px;
}

.tit p {
  margin-left: 15px;
  font-size: 18px;
  padding-bottom: 10px;
  border-bottom: 3px solid #99E2D0;
  width: 65px;
}

.description:hover h3 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100px;
}
.description:hover p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 300px;
}

@media screen and (min-width: 769px) {
  .chiffre__choix {
    left: -14px;
  }

  .fonctionnement h3 {
    display: flex;
    justify-content: center;
  }

  .restaurant h2 {
    text-align: center;
    font-size: 25px;
  }

  .fonctionnement h2 {
    text-align: center;
    font-size: 25px;
  }

  .menu1 {
    display: flex;
    justify-content: space-around;
  }

  .description p {
    font-size: 16px;
  }
  .description h3 {
    font-size: 16px;
  }

  .blok {
    width: 35%;
  }

  .commander {
    width: 30%;
    margin-left: 30%;
  }

  .choice__menu {
    width: 28%;
  }

  .menu {
    display: flex;
    justify-content: space-around;
  }

  .leilaplats {
    width: 100%;
  }

  .plat {
    width: 300px;
  }

  .liste {
    padding-left: 0px;
    margin-left: 10px;
  }

  .groupecard__restaurant {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  footer ul {
    display: flex;
    justify-content: space-between;
    width: 80%;
  }

  footer h1 {
    font-size: 30px;
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 600px) {
  .fonctionnement h3 {
    margin-left: 30px;
  }

  .choice__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
  }

  .leilaplats {
    width: 100%;
  }

  .plat {
    width: 90%;
  }

  .restaurant h2 {
    margin: 20px;
    font-size: 25px;
  }

  .liste {
    padding-left: 0px;
    margin-left: 10px;
  }

  .fonctionnement h2 {
    margin: 20px;
    font-size: 25px;
  }

  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
  }

  .groupecard__restaurant {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .blok {
    width: 90%;
  }

  .chiffre__choix {
    right: 340px;
  }

  footer ul {
    padding: 0px;
  }
  footer h1 {
    font-size: 20px;
  }
}
@media all and (min-width: 601px) and (max-width: 768px) {
  .choice__menu {
    width: 80%;
  }

  .blok {
    width: 90%;
  }

  .leilaplats {
    width: 90%;
  }

  .plat {
    width: 90%;
  }

  .restaurant h2 {
    text-align: center;
    font-size: 25px;
  }

  .groupecard__restaurant {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .card__box {
    width: 90%;
  }

  .fonctionnement h2 {
    text-align: center;
    font-size: 25px;
  }

  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
  }

  footer h1 {
    font-size: 30px;
    display: flex;
    justify-content: center;
  }
}
.btn__explorer p {
  background: linear-gradient(to left top, #9356DC, #FF79DA);
  border-radius: 30px 30px 30px 30px;
  color: white;
  font-size: 18px;
  margin-top: 15px;
  font-family: Roboto Slab, serif;
  box-shadow: 6px 6px 6px #d6d3d3;
  width: auto;
  padding: 15px;
  cursor: pointer;
}

.commander {
  display: flex;
  justify-content: center;
}

.commander p {
  background: linear-gradient(to left top, #9356DC, #FF79DA);
  border-radius: 30px 30px 30px 30px;
  color: white;
  font-size: 18px;
  margin-top: 15px;
  font-family: Roboto Slab, serif;
  box-shadow: 6px 6px 6px #d6d3d3;
  display: flex;
  justify-content: center;
  width: 200px;
  cursor: pointer;
  padding: 15px;
}

.btn__explorer :hover {
  background: linear-gradient(to left top, #f229b9, #e367df);
  box-shadow: 8px 8px 8px #959494;
}

.commander :hover {
  background: linear-gradient(to left top, #f229b9, #e367df);
  box-shadow: 8px 8px 8px #959494;
}

.check {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: transparent;
  cursor: pointer;
  height: 0%;
  width: 0px;
  font-size: 20px;
  border-radius: 0 15px 15px 0;
  transform: translateX(60px);
}
.check i {
  transform: rotate(0deg);
}

.heart {
  cursor: pointer;
  font-size: 25px;
  padding-right: 20px;
}
.heart .fas {
  position: relative;
  color: #ffffff;
  opacity: 0;
}
.heart .far {
  position: absolute;
}
.heart .fas::before {
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: initial;
  /* reset Font Awesome's display:inline-block */
}
.heart:hover .fas, .heart:focus .fas {
  opacity: 1;
  transition: 1s;
}
.heart:hover .far, .heart:focus .far {
  opacity: 0;
}

.plat {
  opacity: 0;
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 60px;
  overflow: hidden;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 5px 5px 5px 2px #ece9e9;
  padding: 10px;
  margin-bottom: 20px;
}

.description h3 {
  width: 200px;
  height: 30px;
  font-size: 20px;
  margin-bottom: 0px;
  margin-top: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  transition: width 0.5s ease-out;
}
.description p {
  font-size: 18px;
  margin: 0px;
  width: 200px;
  height: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  transition: width 0.5s ease-out;
}

.prix {
  margin-top: 61px;
  display: flex;
  font-weight: bold;
  align-items: flex-end;
  margin-right: 10px;
}
.prix p {
  margin: 5px;
  margin-left: 0px;
}

li:nth-child(1) {
  animation: essai 0.8s 0s forwards ease-out;
}

li:nth-child(2) {
  animation: essai 1s 0.5s forwards ease-out;
}

li:nth-child(3) {
  animation: essai 1.5s 0.8s forwards ease-out;
}

@keyframes essai {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.plat:hover .p {
  width: 170px;
}

.plat:hover .h3 {
  width: 170px;
}

.plat:hover .prix {
  margin-right: 100px;
  transition: margin-right 0.5s;
}
.plat:hover .check {
  height: 100%;
  width: 70px;
  background-color: #99E2D0;
  color: #ffffff;
  transform: translateX(0);
  transition: transform 0.5s;
}
.plat:hover .check i {
  transform: rotate(360deg);
  transition: transform 0.5s;
}

.card__box {
  height: 100px;
  margin: 20px;
  background-color: white;
  border-radius: 20px;
  padding-bottom: 166px;
  box-shadow: 6px 6px 6px #e0dede;
  margin-top: 20px;
}
.card__box a {
  text-decoration: none;
}

.card__box img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}

.image img {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.info__card {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  margin-left: 10px;
  padding-bottom: 20px;
}
.info__card p {
  color: black;
  margin: 0px;
  font-size: 20px;
}

.nouveau__box {
  display: flex;
  justify-content: center;
  background-color: #99E2D0;
  border-style: solid;
  border-color: #99E2D0;
  width: 120px;
  font-size: 20px;
  border-radius: 5px;
  position: absolute;
}
.nouveau__box p {
  margin-top: 6px;
  margin-bottom: 6px;
}

.box__groupecard {
  position: relative;
  display: flex;
  justify-content: center;
}

.nouv {
  position: absolute;
  width: 96px;
  top: 30px;
  right: 50px;
}
.nouv p {
  background-color: #99E2D0;
  border-radius: 2px;
  font-size: 20px;
  padding: 6px;
}

.blok {
  position: relative;
}

/*# sourceMappingURL=style.css.map */
