.check {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: transparent;
    cursor: pointer;
    height: 0%;
    width: 0px;
    font-size: 20px;
    border-radius: 0 15px 15px 0;
    transform: translateX(60px);
    i {
        transform: rotate(0deg);
    }
}