@media screen and (max-width: 600px) {
    .fonctionnement h3 {
        margin-left: 30px;
    }
    .choice__menu {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 90%;
    }
    .leilaplats {
        width: 100%;
    }
    .plat {
        width: 90%;
    }
    .restaurant {
        h2 {
            margin: 20px;
            font-size: 25px;
        }
    }
    .liste {
        padding-left: 0px;
        margin-left: 10px;
    }
    .fonctionnement {
        h2 {
            margin: 20px;
            font-size: 25px;
        }
    }
    .menu {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 10px;
    }
    .groupecard__restaurant {
        @include centrer;
    }
    .blok {
        width: 90%;
    }
    .chiffre__choix {
        right: 340px;
    }
    footer {
        ul {
            padding: 0px;
        }
        h1 {
            font-size: 20px;
        }
    }
}